<%- partial('../partials/head.ejs') %>
<%- partial('../partials/navbar.ejs') %>

<header class="header">
  <div class="landing">
    <!-- <h3 class="quote">Endless entertainment and knowledge in your pocket</h3> -->
    <h3 class="sub-heading">
      Modify - Books
    </h3>
  </div>
</header>

<main class="container">
  <div>
    <a href="/admin/books/create"><button class="btn-create">Create Book</button></a>
  </div>
  <div class="user_parent">
      <% for (let i = 0; i < books.length; i++) {%>
      <div class="user_tabs" id="<%= books[i].id %>">
        Title: <%= books[i].title %><br />
        Author: <%= books[i].author %><br />
        Genre: <%= books[i].genre %><br />
        Language: <%= books[i].language %><br />
        <a href="/admin/books/<%= books[i].id %> "><button class="btn">View Book</button></a>
    </div>
      <% } %>
  </div>
</main>
