<%- partial('../partials/head.ejs') %>
<%- partial('../partials/navbar.ejs') %>

<header class="header">
  <div class="landing">
    <!-- <h3 class="quote">Endless entertainment and knowledge in your pocket</h3> -->
    <h3 class="sub-heading">
      Modify - Books
    </h3>
  </div>
</header>

<main>
  <div>
    <a href="/admin/books/create"><button>Create Book</button></a>
  </div>
  <div>
      <% for (let i = 0; i < books.length; i++) {%>
      <div id="<%= books[i].id %>">
        Title: <%= books[i].title %>
        Author: <%= books[i].author %>
        Genre: <%= books[i].genre %>
        Language: <%= books[i].language %>
    </div>
      <a href="/admin/books/<%= books[i].id %> "><button>View Book</button></a>
      <% } %>
  </div>
</main>
