<%- partial('../partials/head.ejs') %>
<%- partial('../partials/navbar.ejs') %>

<header class="header">
  <div class="landing">
    <!-- <h3 class="quote">Endless entertainment and knowledge in your pocket</h3> -->
    <h3 class="sub-heading">
      Modify - Users
    </h3>
  </div>
</header>

<main>
  <div>
      <% for (let i = 0; i < users.length; i++) {%>
      <div id="<%= users[i].id %>">Name: <%= users[i].firstName %> </div>
      <a href="/admin/users/<%= users[i].id %> "><button>View User</button></a>
      <% } %>
  </div>
</main>
