<%- partial('../partials/head.ejs') %>
<%- partial('../partials/navbar.ejs') %>

<header class="header">
  <div class="landing">
    <!-- <h3 class="quote">Endless entertainment and knowledge in your pocket</h3> -->
    <h3 class="sub-heading">
      Modify - Users
    </h3>
  </div>
</header>

<main class="container">
  <div class="user_parent">
    <% for (let i = 0; i < users.length; i++) {%>
    <div id="<%= users[i].id %>" class="user_tabs">
      ID: <%= users[i].id %><br />
      Name: <%= users[i].lastName %>, <%= users[i].firstName %><br />
      <a href="/admin/users/<%= users[i].id %> ">
        <button class="btn">View User</button>
      </a>
    </div>
    <% } %>
  </div>
</main>
