<%- partial('../../partials/head.ejs') %> <%-
partial('../../partials/navbar.ejs') %>

<div class="myEbooksContainer">
    <div class="eBooksContainer ">
        <main class="browseBooks">
            <h3 class="sectionHeader">My eBooks</h3>
            <div class="searchResults">
            <!-- an eBook to repeat -->
            <% for(let i=0; i<mylistOfBooks.length; i++) {%>
                <a class="bookCard" href="title/<%= mylistOfBooks[i].id %> ">
                <img src="/images/eBooksImg/<%= mylistOfBooks[i].coverUrl %>" alt="" />
                <div class="bookDetailsSection">
                    <p class="bookTitle">
                        <%= mylistOfBooks[i].title %>
                    </p>
                    <p class="bookAuthor">
                        <%= mylistOfBooks[i].author %>
                    </p>
                    <div class="bookDetails">
                        <span class="bookRating">Rating:
                        <span class="bookRatingValue">
                            <%= mylistOfBooks[i].rating %>
                        </span>
                        </span>
                        <span class="bookBS">
                        <%if(mylistOfBooks[i].isBestSeller) {%>
                            <i class="fas fa-star"></i>
                            <% } %>
                        </span>
                        <span class="bookEC">
                        <%if(mylistOfBooks[i].isEditorChoice) {%>
                            <i class="fas fa-bookmark"></i>
                            <% } %>
                        </span>
                    </div>
                </div>
                
                </a>
                <% } %>
                <!-- end of ebook -->
            </div>
        </main>
    </div>
</div>
