<%- partial('../partials/head.ejs') %> <%- partial('../partials/navbar.ejs') %>

<header class="eBooksHeader">
  <div class="landing">

  </div>
</header>

<div class="eBooksContainer">
  <aside class="optionsMenu">
    <form action="" method="">
      <select
        name="genre"
        class="genre__sellection optionsMenu__option"
        id="genre"
      >
        <option style="display: none">Genre</option>
        <option value="All">- All -</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Romance">Romance</option>
        <option value="Action">Action</option>
        <option value="SciFi">Science Fiction</option>
        <option value="Mystery">Mystery</option>
        <option value="Children">Children's</option>
        <option value="Thriller">Thriller</option>
        <option value="History">History</option>
        <option value="Educational">Educational</option>
      </select>

      <div class="optionsMenu__option">
        <label for="isBestSeller"></label>
          <i class="fas fa-star"></i> Best Seller</label
        >
        <input
          type="checkbox"
          name="isBestSeller"
          id="isBestSeller"
          
        />
      </div>
      <div class="optionsMenu__option">
        <label for="isEditorChoice"
        ><i class="fas fa-bookmark"></i
          > Editor's Choise</label>
        <input type="checkbox" name="isEditorChoice" id="isEditorChoice"/>
      </div>

      <div class="range-wrap optionsMenu__option">
        <label for="range">Max price:</label>
        <input
          type="range"
          class="range"
          min="0"
          max="50"
          value="50"
          id="range"
        />
        <output class="bubble"></output>
      </div>

      <button type="submit" class="optionsMenu__btn">Search</button>
    </form>
  </aside>

  <main class="browseBooks">
    <h3 class="sectionHeader">SEARCH RESULTS</h3>
    <div class="searchResults">
      <!-- an eBook to repeat -->
      <% for(let i=0; i<listOfBooks.length; i++) {%>
        <a class="bookCard" href="title/<%= listOfBooks[i].id %> ">
            <img src="/images/eBooksImg/<%= listOfBooks[i].coverUrl %>" alt="" />
            <p class="bookTitle"><%= listOfBooks[i].title %></p>
            <p class="bookAuthor"><%= listOfBooks[i].author %></p>
            <div class="bookDetails">
              <span class="bookRating">Rating: 
                <span class="bookRatingValue"><%= listOfBooks[i].rating %></span>
              </span>
              <span class="bookBS">
                <%if(listOfBooks[i].isBestseller) {%>
                 <i class="fas fa-star"></i>
                <% } %>
              </span>
              <span class="bookEC">
                <%if(listOfBooks[i].isEditorChoice) {%>
                 <i class="fas fa-bookmark"></i>
                <% } %>
              </span>
            </div>
        </a>
      <% } %>
      <!-- end of ebook -->
    </div>
  </main>
</div>
<script src="/js/ebooks.js"></script>


