<%- partial('../partials/head.ejs') %>
  <%- partial('../partials/navbar.ejs') %>


    <header class="header">
      <div class="landing">
        <!-- <h3 class="quote">Endless entertainment and knowledge in your pocket</h3> -->
        <h3 class="sub-heading">
          eBook means <span class="typed-text"></span><span class="cursor">&nbsp;</span>
        </h3>
      </div>
    </header>

    <main class="homeContainer">
      <section class="genreOptions">
        <h3 class="sectionHeader">BROWSE GENRES</h3>
        <div class="homeContainer_Section genreOptionsList">
          <a class="genreCard genreCard_Fantasy" href="http://localhost:1337/ebooks?genre=Fantasy">
            <h4 class="genreTitle">FANTASY</h4>
          </a>
          <a class="genreCard genreCard_Romance" href="http://localhost:1337/ebooks?genre=Romance">
            <h4 class="genreTitle">ROMANCE</h4>
          </a>
          <a class="genreCard genreCard_Action" href="http://localhost:1337/ebooks?genre=Action">
            <h4 class="genreTitle">ACTION & ADVENTURE</h4>
          </a>
          <a class="genreCard genreCard_SciFi" href="http://localhost:1337/ebooks?genre=SciFi">
            <h4 class="genreTitle">SCIENCE FICTION</h4>
          </a>
          <a class="genreCard genreCard_Mystery" href="http://localhost:1337/ebooks?genre=Mystery">
            <h4 class="genreTitle">MYSTERY</h4>
          </a>
          <a class="genreCard genreCard_Childer" href="http://localhost:1337/ebooks?genre=Children">
            <h4 class="genreTitle">CHILDREN'S & COMICS</h4>
          </a>
          <a class="genreCard genreCard_Thriller" href="http://localhost:1337/ebooks?genre=Thriller">
            <h4 class="genreTitle">THRILLER & SUSPENSE</h4>
          </a>
          <a class="genreCard genreCard_History" href="http://localhost:1337/ebooks?genre=History">
            <h4 class="genreTitle">HISTORY</h4>
          </a>
          <a class="genreCard genreCard_Educational" href="http://localhost:1337/ebooks?genre=Educational">
            <h4 class="genreTitle">EDUCATIONAL</h4>
          </a>
        </div>
      </section>

      <section class="bestSellers">
        <h3 class="sectionHeader"><i class="fas fa-star"></i> BEST SELLERS</h3>
        <div class="homeContainer_Section">
          <!-- an eBook to repeat -->
          <% for(let i=0; i<listOfBooks.length; i++) {%>
            <% if(listOfBooks[i].isBestseller) {%>
              <a class="bookCard" href="title/<%= listOfBooks[i].id %>">
                <img src="/images/eBooksImg/<%= listOfBooks[i].coverUrl %> " alt="" />
                <p class="bookTitle">
                  <%= listOfBooks[i].title %>
                </p>
                <p class="bookAuthor">
                  <%= listOfBooks[i].author %>
                </p>
                <div class="bookDetails">
                  <span class="bookRating">Rating: 
                    <span class="bookRatingValue"><%= listOfBooks[i].rating %></span>
                  </span>
                  <span class="bookBS">
                    <%if(listOfBooks[i].isBestseller) {%>
                     <i class="fas fa-star"></i>
                    <% } %>
                  </span>
                  <span class="bookEC">
                    <%if(listOfBooks[i].isEditorChoice) {%>
                     <i class="fas fa-bookmark"></i>
                    <% } %>
                  </span>
                </div>
              </a>
            <% } %>
          <% } %>
          <!-- end of ebook -->
        </div>
      </section>

      <section class="editorsChoise">
        <h3 class="sectionHeader">
          <i class="fas fa-bookmark"></i> EDITOR'S CHOICE
        </h3>
        <div class="homeContainer_Section">
          <!-- an eBook -->
          <% for(let i=0; i<listOfBooks.length; i++) {%>
            
            <% if(listOfBooks[i].isEditorChoice) {%>
              <a class="bookCard" href="title/<%= listOfBooks[i].id %>">
                <img src="/images/eBooksImg/<%= listOfBooks[i].coverUrl %> " alt="" />
                <p class="bookTitle">
                  <%= listOfBooks[i].title %>
                </p>
                <p class="bookAuthor">
                  <%= listOfBooks[i].author %>
                </p>
                <div class="bookDetails">
                  <span class="bookRating">Rating: 
                    <span class="bookRatingValue"><%= listOfBooks[i].rating %></span>
                  </span>
                  <span class="bookBS">
                    <%if(listOfBooks[i].isBestseller) {%>
                     <i class="fas fa-star"></i>
                    <% } %>
                  </span>
                  <span class="bookEC">
                    <%if(listOfBooks[i].isEditorChoice) {%>
                     <i class="fas fa-bookmark"></i>
                    <% } %>
                  </span>
                </div>
              </a>         
            <% } %>
        
          <% } %>
          <!-- end of ebook -->
        </div>
      </section>
    </main>